# =============================================================================
# Paralel Frontend - Variables de Entorno
# =============================================================================

# Modo Demostración (Offline / Standalone)
# Valores: "true" | "false"
# Si es "true", el frontend se ejecuta de manera 100% autónoma, utilizando
# datos simulados realistas sin necesidad de compilar o ejecutar el servidor C++
DEMO_MODE=true
